@import '../../_global';
button {
  all: unset;
  background-color: $secondary;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  &:disabled {
    opacity: 0.6;
  }
}

.sign-in-desktop-btn {
  border-radius: 0 4px 4px 0;
}

.icon-btn {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 0;
  background-color: $secondary;
  svg {
    color: $text;
  }
}

.transparent-btn {
  background-color: transparent;
  svg {
    color: $secondary;
  }
}

.icon-send-btn {
  svg {
    padding: 0.4rem;
  }
}

.large-btn {
  font-size: 80px;
  &:hover {
    transform: scale(1.1);
  }
}

.create-btn {
  svg {
    color: $secondary;
    height: 100%;
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .icon-btn {
    border-radius: 0 4px 4px 0;
  }
  .icon-send-btn {
    border-radius: 0;
  }
}
