.chat-page-container-mobile {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-page-container-desktop {
  display: flex;
  height: 100vh;
}

.chat-window-container-desktop {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
