@import "../_global";
button {
  all: unset;
  background-color: $secondary;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
  &:disabled {
    // Disabled is a pseudo class. Thus, takes only 1 :
    opacity: 0.6;
  }
}

.icon-btn {
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  //background-color: transparent;
  background-color: $secondary;
  svg {
    color: $text;
  }
}

/* Media Queries */
@media (min-width: 768px) {
  .icon-btn {
    border-radius: 0 4px 4px 0;
  }
}
