@import "../_global";

.chat-header-wrapper {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  button {
    background-color: transparent;
    svg {
      color: $secondary;
    }
  }
}

.room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-weight: 500;
  }
  small {
    font-style: italic;
    color: $lightText;
  }
}
