@import "../global";

input {
  all: unset;
  background: $primary;
  border-radius: 4px;
  //padding: 1rem;
  padding: 1rem 0;
  margin-bottom: 0.4rem;
  width: 100%;
  text-align: center;
  &::placeholder {
    color: $lightText;
    text-align: center;
  }
}

@media (min-width: 768px) {
  input {
    margin-bottom: 0;
  }
}
