@import "../_global";

.chat-window {
  padding: 1rem;
  overflow-y: auto;
  flex: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.typing-users {
  padding-bottom: 0.8rem;
  color: $lightText;
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
}
.chat-message-form {
  display: flex;
}
