@import "../_global";

.desktop-room-btn {
  width: 100%;
  //width: 250px;
  //ight: 5.5rem;
  border-radius: 4px;
  background-color: $primary;
  font-size: 1.2rem;
  padding: 0.5rem;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
  &:hover {
    background-color: $secondary;
    div {
      span {
        background-color: $primary;
      }
    }
  }
  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-top: 0.3rem;
  }
}

.current {
  background-color: $secondary;
  div {
    span {
      background-color: $primary;
    }
  }
}

span {
  font-size: 0.6rem;
  padding: 0.2rem;
  background-color: $secondary;
  border-radius: 4px;
  // color: $secondary;
  //   border: 1px solid $secondary;
}
